%div{ "main-header" => "", "item" => "1" }
.container
  .my-control
    %button.btn.btn-large.btn-default#btnComeBack{ :type => "submit", "ng-click" => "comeBack()" }
      %span.glyphicon.glyphicon-arrow-left.blue
      Back

    %button.btn.btn-large.btn-default#btnEditUser{ :type => "submit", "ng-click" => "editUser()" }
      %span.glyphicon.blue{ "ng-class" => "editClass" }
      {{ editLabel }}

    %button.btn.btn-large.btn-default#btnSaveUser{ :type => "submit", "ng-click" => "deleteUser()" }
      %span.glyphicon.blue{ "ng-class" => "deleteClass" }
      {{ deleteLabel }}

    .form.newUser
      %form{:role => "form", :name => "newUserForm"}
        .form-group.item
          %label{:for => "email"} Email address
          %input#email.form-control{:placeholder => "Enter email", :type => "email", "ng-model" => "user.email", "ng-readonly" => "!enableEdit"}/

        .form-group.item
          %label{:for => "password"} Password
          %input#password.form-control{:placeholder => "Password", :type => "password", "ng-model" => "user.password", "ng-readonly" => "!enableEdit"}/

        .form-group.item{"ng-show" => "enableEdit"}
          %label{:for => "password"} Password
          %input#password.form-control{:placeholder => "Password", :type => "password", "ng-model" => "user.confirm"}/

        .form-group.item
          %label{:for => "role"} Role
          %input#role.form-control{:placeholder => "Password", :type => "text", "ng-model" => "user.role", "ng-readonly" => "true", "ng-show" => "!enableEdit"}/
          %select.form-control{"ng-model" => "user.role", "ng-show" => "enableEdit"}
            %option{"ng-repeat" => "role in roles"} {{ role }}
